@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face{
    font-family:"Larsseit";
    src: url("../fonts/Larsseit-Bold.woff2") format(woff2),
     url("../fonts/Larsseit-Bold.woff") format (woff);
font-display: swap;
font-weight: 700 ;
font-style: normal ;
}

@font-face{
    font-family:"Larsseit";
    src: url("../fonts/Larsseit-Medium.woff2") format(woff2),
    url("../fonts/Larsseit-Medium.woff") format(woff);
    font-display: swap;
    font-weight: 500 ;
     font-style: normal ;
  }

@font-face{
    font-family:"Larsseit";
  src: url("../fonts/Larsseit.woff2") format("woff2"),
  url("../fonts/Larsseit.woff") format("woff");
    font-display: swap;
    font-weight: 400 ;
     font-style: normal ;
}



#block
{ font-family:"Larsseit";
      color:deeppink;
    } 
   
div.text 
{ font-family:"Roboto";
  color:darkgoldenrod;

}
div.text-lesson{ font-family:"Larsseit";
     color:darkgreen;}

ul { color:crimson;
}
ol { color:cornflowerblue;
}